<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name>Odin</name>
  <service>
    <type>_http._tcp</type>
    <port>8880</port>
    <txt-record>path=/pongo</txt-record>
  </service>
</service-group>
