{% extends "pongo/base.html" %}{% load static %}{% load cache %}
{% block title %}Pongo{% endblock %}
{% block meta %}
<script src="{% static "pongo/pongo_search.js" %}">
</script>
{% endblock %}
{% block script %}
function toggle_discs(id) {
  var menu = document.getElementById(id);
  if ( menu.style.display != 'block') {
    menu.style.display='block';
  }
  else {
    menu.style.display='none';
  }
}

function loadImages() {
  var images = document.getElementsByTagName('img');
  for (var i=0; i<images.length; i++) {
    if(images[i].getAttribute('real-src')) {
      images[i].setAttribute('src',images[i].getAttribute('real-src'));
    }
  }
}

{% endblock %}
{% block style %}
div#albums_tab {
 color: #ffffff;
background-color: #0000e0;
font-weight: bold;
}
{% endblock %}
{% block content %}
{% cache 31536000 albums sort_key %}
<div id="album_list">
  {% for album in albums %}
  <div class="album_item">
    <div class="floatA">&nbsp;</div>
    <div class="play">
      <span class="discs">{% if album.discs %}{{ album.num_discs }} discs{% endif %}</span><br>
      {% if not album.discs %}<a class="play"  href="/player/play/{{ album.id }}">{% endif %}
	<img class="play" src="{% static 'pongo/play-green.svg' %}"
	     {% if album.discs %}onclick="toggle_discs('{{ album.id }}')"{% endif %}>
	{% if album.discs %}<ul class="disc_menu" id="{{ album.id }}">{% for disc in album.discs %}
	<li><a href="/player/play/{{ album.id }}/?disc={{ disc }}">Disc {{ disc }}</a></li>
      {% endfor %}</ul>{% else %}</a>{% endif%}
    </div>
    <img class="album_button small"
	 onclick="location.href='/album/{{album.id}}';"
	 src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
	 real-src="{{ album.small_image_url}}"
	 alt="cover of {{album.name}}">
    <div class="album_name{% if album.owned %} green{% endif %}">{{album.name}}</div>
    <div class="album_artists">{{ album.performers }}</div>
  </div>
  {% endfor %}
</div>
{% endcache %}
{% endblock %}
{% block sort %}
<script type="text/javascript">
function pongoToggleSort() {
  var menu = document.getElementById('sort_menu');
  if ( menu.style.display != 'block') {
    menu.style.display='block';
  }
  else {
    menu.style.display='none';
  }
}
</script>
<div id="sort_menu">
  <form action="/albums/" method="post">
    {% csrf_token %}
  <div class="center">
    <button type="submit">Sort</button>
  </div>
  <ul>
    <li>
      <input type="radio" name="key" value='title'
	     {% if sort_key == 'title' %}checked="checked"{% endif %}>
      Title
    </li>
    <li>
      <input type="radio" name="key" value='artists'
	     {% if sort_key == 'artists' %}checked="checked"{% endif %}>
      Artist
    </li>
  </ul>
  </form>
</div>
{% endblock %}
{% block tailscript %}
<script type="text/javascript">
   window.onload = loadImages;
</script>
{% endblock %}
